<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Hallo My App</h1>
    <!--<h1 th:text="Hallo ${toSee}"></h1>-->
    <!--<h1 th:text="Hallo ${test2}"></h1>-->
    <h1><span th:text="${test3}"></span> 222</h1>
    <div><span th:text="${test2}"></span> OK.</div>
    <!--<div th:text="Hallo ${test3}"></div>-->
</div>

<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>